<fieldset>
  <form #ngForm="ngForm">
  <table>
    <tr>
      <td>Identifiant badge</td>
    <td><input type="text" name="id" [ngModel]="id" disabled></td>
    </tr>

    <tr>
      <td>Email</td>
      <td><input type="text" name="email" ngModel pattern="[a-z0-9._%+-]+@esprit.tn" required>

        <div *ngIf="ngForm.controls['email']?.touched && ngForm.controls['email']?.invalid">
          <p style="font-size: 12px; color: red" *ngIf="ngForm.controls['email'].errors['pattern']">l'email doit se terminer avec @esprit.tn</p>
          <p style="font-size: 12px; color: red" *ngIf="ngForm.controls['email'].errors['required']">le champ email est obligatoire</p>
        </div>
      </td>


    </tr>

    <tr>
      <td>Direction</td>
      <td><input type="text" name="direction" ngModel pattern="Informatique">
        <div *ngIf="ngForm.controls['direction']?.touched && ngForm.controls['direction']?.invalid">
          <p style="font-size: 12px; color: red" *ngIf="ngForm.controls['direction'].errors['pattern']">le champ direction est invalide</p>
        </div>
      </td>
    </tr>

    <tr>
      <td>Numéro tel</td>
      <td><input type="text" name="tel" ngModel></td>
    </tr>

    <tr>
      <td></td>
      <td><button (click)="onSubmit(ngForm.value)" [disabled]="ngForm.invalid">Save</button></td>
    </tr>

  </table>
  </form>

</fieldset>
